@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "null.scss";
body {
  min-width: 1800px;
}

.wrapper {
}
.header {
  max-width: 1800px;
  overflow: hidden;
  a {
    color: #fff;
  }
  max-height: 1080px;
  color: #fff;
  background: #141024;
  padding: 30px 50px;
  margin: 0 0 30px 0;
  &__contaiter {
    display: flex;
    justify-content: space-around;
    margin: 0 0 40px 0;
  }
  &__logo {
    font-size: 30px;
  }
  &__links {
  }
  &__list {
    font-size: 20px;
    display: flex;
    li {
      margin: 0 30px;
    }
    a {
      color: #fff;
      &:hover {
        color: yellow;
      }
    }
  }
  &__tel {
    font-size: 30px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
  }
  &__SignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.SignUp {
  &__title {
    font-size: 70px;
  }
  &__text {
    font-size: 20px;
    line-height: 32px;
    margin: 40px 0;
  }
  &__btn {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    min-height: 80px;
    background: #ff0000;
    padding: 20px;
  }
  &__img {
    max-width: 100%;
    position: relative;
    top: 15px;
  }
}

.main {
  max-width: 1800px;
  padding: 100px 100px 100px 300px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  &__container {
  }
  &__text {
    font-size: 30px;
    line-height: 48px;
    margin: 0 0 30px 0;
    span {
      font-weight: 600;
    }
  }
}
.num {
  display: flex;
  justify-content: flex-start;
  font-size: 70px;
  font-weight: 600;
  color: #ff0000;
}
.achievements {
  display: flex;
  margin: 100px 0 100px 0;
  &__item {
    margin: 0 20px;
  }
  &__numText {
    color: #141024b2;
    font-size: 18px;
    line-height: 30px;
  }
}
.whatGet {
  margin: 100px 0 100px 0;
  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
  }
  &__titleInfo {
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    color: #141024;
    font-size: 16px;
    letter-spacing: 1.4px;
    &::before {
      display: inline-block;
      content: url("../img/icons/Group\ 207.png");
      width: 24px;
      height: 24px;
      position: relative;
      top: -4px;
    }
  }
}
.row {
  display: flex;
  margin: 0 40px;
  &__item {
    min-width: 360px;
  }
  &__title {
    font-size: 24px;
    padding: 20px 10px;
    font-weight: 600;
    color: #141024;
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #141024b2;
  }
}

.trainers {
  &__title {
    font-size: 50px;
    color: #141024;
    line-height: 80px;
  }
  &__photo {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    position: relative;
    left: -50px;
    margin: 40px 0;
  }
  &__item {
    margin: 0px 20px;
  }
}
.item {
  &__image {
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  &__name {
    font-size: 24px;
    color: #141024;
  }
  &__text {
    font-size: 18px;
    color: #141024b2;
    margin: 20px 0;
  }
  &__link {
    font-size: 18px;
    color: #ff0000;
  }
}

.services {
  margin: 0 0 50px 0;
  &__title {
    font-size: 50px;
    color: #141024;
    margin: 0 0 60px 0;
  }
  &__row {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 360px;
    min-height: 500px;
    min-width: 360px;
    border: 1px solid #14102433;
    border-radius: 20px;
    margin: 0 40px;
    padding: 30px;
  }
  &__label {
    display: flex;
    flex: 1 1 auto;
    font-size: 30px;
    color: #141024;
    line-height: 48px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }
  &__price {
    display: flex;
    flex: 1 1 auto;
    font-size: 50px;
    line-height: 80px;
    font-weight: 600;
  }
  &__text {
    font-size: 18px;
    color: #141024;
    line-height: 30px;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
  }
  &__btn {
    font-size: 18px;
    color: #fff;
    background: #ff0000;
    padding: 30px;
    min-width: 280px;
    min-height: 80px;
    text-align: center;
    border-radius: 5px;
  }
}
.ultra {
  color: #fff;
}
.ultraplus {
  background: #141024;
}
.formm {
  padding: 50px 300px;
  background: #ff0000;
  min-width: 100vh;
  display: flex;
  justify-content: space-around;
  &__info {
    color: #fff;
  }
  &__title {
    font-size: 36px;
    line-height: 47px;
  }
  &__text {
  }
  &__userForm {
    input {
      display: flex;
      min-height: 64px;
      min-width: 500px;
      border-radius: 5px;
      padding: 20px;
      font-size: 18px;
    }
  }
  &__name {
  }
  &__tel {
  }
  &__mail {
  }
  &__btn {
    button {
      background: #141024;
      color: #fff;
      font-size: 18px;
      padding: 20px 40px;
      min-width: 500px;
      min-height: 64px;
      border-radius: 5px;
    }
  }
}

form {
  .m {
    margin: 10px 0;
  }
}

.footer {
  // max-width: 1920px;
  color: #fff;
  background: #141024;
  padding: 30px 50px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__info {
  }
  &__logo {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  &__capcha {
    font-size: 16px;
    color: #4b4a4a;
  }
  &__tel {
    font-size: 30px;
  }
}
